<!DOCTYPE html> 
<html> 
    <head>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script>
			window.onload=function(){
			// collecting elements
			var audiooneSound = document.getElementById('audio_1');
			var audiooneTxt = document.getElementById('audio1');
			var audiotwoSound = document.getElementById('audio_2');
			var audiotwoTxt = document.getElementById('audio2');
			var audiothreeSound = document.getElementById('audio_3');
			var audiothreeTxt = document.getElementById('audio3');
				
			var audiofourSound = document.getElementById('audio_4');
			var audiofourTxt = document.getElementById('audio4');
			var audiofiveSound = document.getElementById('audio_5');
			var audiofiveTxt = document.getElementById('audio5');
			var audiosixSound = document.getElementById('audio_6');
			var audiosixTxt = document.getElementById('audio6');
				
			var audiosevenSound = document.getElementById('audio_7');
			var audiosevenTxt = document.getElementById('audio7');
			var audioeightSound = document.getElementById('audio_8');
			var audioeightTxt = document.getElementById('audio8');
			var audionineSound = document.getElementById('audio_9');
			var audionineTxt = document.getElementById('audio9');

			//playing welcome sound on mouse over
			audiooneTxt.onmouseover=function(){
				audiooneSound.play();
				return false;
			};
			audiooneTxt.onmouseout=function() {
				audiooneSound.pause();
				audiooneSound.currentTime = 0;
				return false;
			};
			
		    audiotwoTxt.onmouseover=function(){
				audiotwoSound.play();
				return false;
			};
			audiotwoTxt.onmouseout=function() {
				audiotwoSound.pause();
				audiotwoSound.currentTime = 0;
				return false;
			};
				
			audiothreeTxt.onmouseover=function(){
				audiothreeSound.play();
				return false;
			};
			audiothreeTxt.onmouseout=function() {
				audiothreeSound.pause();
				audiothreeSound.currentTime = 0;
				return false;
			};
				
			audiofourTxt.onmouseover=function(){
				audiofourSound.play();
				return false;
			};
			audiofourTxt.onmouseout=function() {
				audiofourSound.pause();
				audiofourSound.currentTime = 0;
				return false;
			};
				
			audiofiveTxt.onmouseover=function(){
				audiofiveSound.play();
				return false;
			};
			audiofiveTxt.onmouseout=function() {
				audiofiveSound.pause();
				audiofiveSound.currentTime = 0;
				return false;
			};
				
			audiosixTxt.onmouseover=function(){
				audiosixSound.play();
				return false;
			};
			audiosixTxt.onmouseout=function() {
				audiosixSound.pause();
				audiosixSound.currentTime = 0;
				return false;
			};
				
			audiosevenTxt.onmouseover=function(){
				audiosevenSound.play();
				return false;
			};
			audiosevenTxt.onmouseout=function() {
				audiosevenSound.pause();
				audiosevenSound.currentTime = 0;
				return false;
			};
				
			audioeightTxt.onmouseover=function(){
				audioeightSound.play();
				return false;
			};
			audioeightTxt.onmouseout=function() {
				audioeightSound.pause();
				audioeightSound.currentTime = 0;
				return false;
			};
				
			audionineTxt.onmouseover=function(){
				audionineSound.play();
				return false;
			};
			audionineTxt.onmouseout=function() {
				audionineSound.pause();
				audionineSound.currentTime = 0;
				return false;
			};
			
};
</script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
	$(function(){
		$('#audio1').click(function(){
			$.ajax({
				type: 'POST',
				url: '/selectAudiothree',
				data: {'key' : 'welcome'},
				dataType: 'html',
				success: function(response){
					window.location.href = '/showAudiofour'
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
</script>
<script>
	$(function(){
		$('#audio2').click(function(){
			$.ajax({
				type: 'POST',
				url: '/selectAudiothree',
				data: {'key' : 'welcome'},
				dataType: 'html',
				success: function(response){
					window.location.href = '/showAudiofour'
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
</script>	
<script>
$(function(){
		$('#audio3').click(function(){
			$.ajax({
				type: 'POST',
				url: '/selectAudiothree',
				data: {'key' : 'welcome'},
				dataType: 'html',
				success: function(response){
					window.location.href = '/showAudiofour'
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
</script>	
		
<script>
	$(function(){
		$('#audio4').click(function(){
			$.ajax({
				type: 'POST',
				url: '/selectAudiothree',
				data: {'key' : 'welcome'},
				dataType: 'html',
				success: function(response){
					window.location.href = '/showAudiofour'
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
</script>
<script>
	$(function(){
		$('#audio5').click(function(){
			$.ajax({
				type: 'POST',
				url: '/selectAudiothree',
				data: {'key' : 'welcome'},
				dataType: 'html',
				success: function(response){
					window.location.href = '/showAudiofour'
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
</script>	
<script>
$(function(){
		$('#audio6').click(function(){
			$.ajax({
				type: 'POST',
				url: '/selectAudiothree',
				data: {'key' : 'welcome'},
				dataType: 'html',
				success: function(response){
					window.location.href = '/showAudiofour'
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
</script>	
		
<script>
	$(function(){
		$('#audio7').click(function(){
			$.ajax({
				type: 'POST',
			url: '/selectAudiothree',
				data: {'key' : 'welcome'},
				dataType: 'html',
				success: function(response){
					window.location.href = '/showAudiofour'
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
</script>
<script>
	$(function(){
		$('#audio8').click(function(){
			$.ajax({
				type: 'POST',
				url: '/selectAudiothree',
				data: {'key' : 'welcome'},
				dataType: 'html',
				success: function(response){
					window.location.href = '/showAudiofour'
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
</script>	
<script>
$(function(){
		$('#audio9').click(function(){
			$.ajax({
				type: 'POST',
				url: '/selectAudiothree',
				data: {'key' : 'welcome'},
				dataType: 'html',
				success: function(response){
					window.location.href = '/showAudiofour'
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
</script>
		
<style type="text/css">
.btn
{
    margin-top: 10%;
    color: rgba(0, 0, 0, 0);
    width: 150px;
    height: 60px;
    margin-bottom: 10%;
    background-color: #ffffff;
    margin-right: 30px;
}

.lead
{
    margin: 10%;
}

.footer
{
    position: absolute;
    text-align: center;
    margin-left: -74px;
    bottom: 0;
    width: 100%;
    height: 60px;
}

body
{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.btn
{
    margin: 10% 2em;
    background-color: rgba(255, 255, 255, 0);
}

.header
{
    margin-top: 40px;
    margin-bottom: 70px;
}

.btn
{
    margin: 10% 2em;
}

.lead
{
    margin: auto;
}

body
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.ghost-button {
            color: #fff;
            border: 2px solid #fafafa;
            border-radius: 8px;
            font-size: 17px;
            padding: 7px 12px;
            font-weight: normal;
            margin: 6px 0;
            margin-right: 12px;
            display: inline-block;
            text-decoration: none;
            min-width: 120px;
            font-weight: 400px;
            display: inline-block;
            -webkit-transition: background-color .5s linear;
            -moz-transition: background-color .5s linear;
            -ms-transition: background-color .5s linear;
            -o-transition: background-color .5s linear;
            transition: background-color .5s linear;
}

.ghost-button:hover, .ghost-button:active
{
    color: #fff;
    background-color: #FF9900;
}

.ghost-button
{
    background-color: rgba(241, 170, 32, 0.69);
    width: 150px;
    height: 60px;
    font-weight: normal;
    text-align: center;
}

</style>         
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
    </head>
    <body>
        <div class="inner cover"> 
            <title>MusiAuth</title>             
        </div>         
        <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> 
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet"> 
        <div class="container"> 
            <div class="header"> 
                <h1 class="page-header">MusiAuth</h1> 
            </div>
                   <div class="header"> 
                <button id="audio1" type="submit" class="ghost-button">audio 1</button>
					<audio id="audio_1" controls="controls" preload="auto" hidden="true">
					<source src="/static/audio/1.mp3"></source>
					Your Browser does not support please use (Firefox 3.5+, Chrome 3+, Opera 10.5+, Safari 4+, IE 9+) browsers.
					</audio>
                <button id="audio2" type="submit" class="ghost-button">audio 2</button>
					<audio id="audio_2" controls="controls" preload="auto" hidden="true">
					<source src="/static/audio/2.mp3"></source>
					Your Browser does not support please use (Firefox 3.5+, Chrome 3+, Opera 10.5+, Safari 4+, IE 9+) browsers.
					</audio>
				<button id="audio3" type="submit" class="ghost-button">audio 3</button>
					<audio id="audio_3" controls="controls" preload="auto" hidden="true">
					<source src="/static/audio/3.mp3"></source>
					Your Browser does not support please use (Firefox 3.5+, Chrome 3+, Opera 10.5+, Safari 4+, IE 9+) browsers.
					</audio>
		
            </div>
            <div class="header"> 
                <button id="audio4" type="submit" class="ghost-button">audio 4</button>
					<audio id="audio_4" controls="controls" preload="auto" hidden="true">
					<source src="/static/audio/4.mp3"></source>
					Your Browser does not support please use (Firefox 3.5+, Chrome 3+, Opera 10.5+, Safari 4+, IE 9+) browsers.
					</audio>
                <button id="audio5" type="submit" class="ghost-button">audio 5</button>
					<audio id="audio_5" controls="controls" preload="auto" hidden="true">
					<source src="/static/audio/5.mp3"></source>
					Your Browser does not support please use (Firefox 3.5+, Chrome 3+, Opera 10.5+, Safari 4+, IE 9+) browsers.
					</audio>
				<button id="audio6" type="submit" class="ghost-button">audio 6</button>
					<audio id="audio_6" controls="controls" preload="auto" hidden="true">
					<source src="/static/audio/6.mp3"></source>
					Your Browser does not support please use (Firefox 3.5+, Chrome 3+, Opera 10.5+, Safari 4+, IE 9+) browsers.
					</audio>
		             
            </div>
            <div class="header"> 
                <button id="audio7" type="submit" class="ghost-button">audio 7</button>
					<audio id="audio_7" controls="controls" preload="auto" hidden="true">
					<source src="/static/audio/7.mp3"></source>
					Your Browser does not support please use (Firefox 3.5+, Chrome 3+, Opera 10.5+, Safari 4+, IE 9+) browsers.
					</audio>
                <button id="audio8" type="submit" class="ghost-button">audio 8</button>
					<audio id="audio_8" controls="controls" preload="auto" hidden="true">
					<source src="/static/audio/8.mp3"></source>
					Your Browser does not support please use (Firefox 3.5+, Chrome 3+, Opera 10.5+, Safari 4+, IE 9+) browsers.
					</audio>
				<button id="audio9" type="submit" class="ghost-button">audio 9</button>
					<audio id="audio_9" controls="controls" preload="auto" hidden="true">
					<source src="/static/audio/9.mp3"></source>
					Your Browser does not support please use (Firefox 3.5+, Chrome 3+, Opera 10.5+, Safari 4+, IE 9+) browsers.
					</audio>
		               
            </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60% Complete
</div>
            </div>             
            <div class="footer"> 
                <p>Prototype by <a href="mailto:sunday@iis.u-tokyo.ac.jp">@sunday</a></p> 
            </div>             
        </div>
    </body>
