<!DOCTYPE html>
<html>
<head><style type="text/css">.header {
  margin-top: 40px;
}
.btn {
  margin: 10% 2em;
}
.lead {
margin: auto;
}
.footer {
  position: absolute;
  text-align: center;
  margin-left: -74px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}




</style>

  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head><body><div class="inner cover">
        <title>MusiAuth</title>
    </div>
    
    
     <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
  
 
  
   <div class="container">
      <div class="header">
        <h1 class="page-header">MusiAuth</h1>
      </div>

      <div class="inner cover">
        <p class="lead">
          </p><h4 class="lead">Introduction of MusiAuth</h4>
          <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">Sign up</a>

            <a class="btn btn-lg btn-success" href="/showSignIn" role="button">Sign in</a>
          </p>
        <p></p>
      </div>

         
      
      <div class="footer">
         <p>Prototype by <a href="mailto:sunday@iis.u-tokyo.ac.jp">@sunday</a></p>
      </div>

      
    </div>
  

<script>// Write JavaScript here input:focus:invalid,

</script></body>